.App {
  text-align: center;
  padding: 5vh;
}
.canvas {
  height: 60vh;
  width: 60vw;
  background-color: rgb(247, 247, 247);
  border: 1px darkgrey solid;
  margin: auto 0;
}

.loginButton {
  width: 230px;
  padding: 16px 16px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.github {
  background-color: black;
}
