.App {
  background-color: rgb(247, 247, 247);
}
.canvasContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(247, 247, 247);
  border: 1px darkgrey solid;
  margin: auto 0;
  z-index: -1;
}

.canvas {
  position: fixed;
  top: 10vh;
  height: 90vh;
  left: 0;
  width: 100vw;
  background-color: rgb(247, 247, 247);
  border: 1px darkgrey solid;
  margin: auto 0;
}

.navbar-button {
  padding: 8px 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  cursor: pointer;
  min-height: 4vh;
  min-width: 4vh;
  transition: ease-in 0.1s;
}

.LandingPage {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fdf7f6;
}

.welcomeMessage {
  font-size: 2.2vw;
  font-family: "Poppins-Thin";
  letter-spacing: 0.02em;
  line-height: 1.5em;
  text-align: left;
  padding-left: 5vw;
}

.CodeGram {
  color: #ffaea6;
  font-family: "Poppins-Bold";
  font-size: 3vw;
  letter-spacing: 0.02em;
  font-weight: 50;
  line-height: 1.05;
  z-index: 1;
}
.GitHubButtonWrapper {
  position: relative;
  height: 15%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

html,
body {
  padding: 0;
  margin: 0;
}

.GitHubButtonWrapper:hover .GitButton {
  fill: #ffaea6;
  cursor: pointer;
}

.GitHubButtonWrapper:hover .LoginWithGitHub {
  fill: #ffffff;
  cursor: pointer;
}

.landingLogin:hover {
  color: #ff8b8b;
  cursor: pointer;
  font-weight: bold;
}

.SourceDocFile {
  position: relative;
  height: 5%;
  width: 85%;
  border-radius: 1vh;
  margin: 1%;
  padding: 2% 5%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-between;
}

.SourceDocFile:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.623) 1.95px 1.95px 2.6px;
}

.selectedFile {
  box-shadow:  #ff6666 1.95px 1.95px 2.6px;
}


.foldertype {
  background-color: rgb(226, 226, 226);
}

.filetype {
  background-color: rgb(241, 241, 241);
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  z-index: 1;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.1s;
}
.iconWrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.603) 0px 3px 8px;
}

html,
body {
  padding: 0;
  margin: 0;
}

.LogoDiv {
  position: relative;
  height: 20%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.LogoWrapper {
  position: relative;
  height: 80%;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: -100vh;
  left: -40vw;
  transform: rotate(0deg);
  height: 200vw;
  width: 150vw;
  z-index: 0;
}

a {
  text-decoration: none;
  color: #f58282;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

pre {
  font-size: 12px;
}

.repoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pathContainer {
  margin-bottom: 2%;
  padding: 1% 5%;
  background-color: rgb(241, 241, 241);
  border-radius: 1vw;
}

.pathContainer p {
  display: inline;
  margin:0;
  color:rgba(0, 0, 0, 0.769);
  font-size: 14px; 
}

.pathContainer p:hover {
  cursor: pointer;
  color: #f58282;
}

.SaveButtonWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ffaea6;
  border-radius: 0.6vw;
}

.navbar-button:hover .SaveButtonWrapper {
  background-color: #ffaea6;
}

.navbar-button:hover p {
  color: white;
  font-weight: 500;
}

