/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

.sourceDocContainer {
  position: absolute;
  top: 30vw;
  right: 10vw;
  height: 60vh;
  width: 35vw;
  background-color: #ffffff;
  border: 2px rgb(226, 226, 226) solid;
  border-top: none;
  margin: auto 0;
}
