/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

.sourceDocContainer {
  position: absolute;
  top: 30vw;
  right: 10vw;
  height: 60vh;
  width: 35vw;
  background-color: rgb(247, 247, 247);
  border: 1px darkgrey solid;
  margin: auto 0;
}
