.node-label {
  margin: 10px;
  font-size: 1vw;
}

.default {
  border-color: #ffaea6;
  color: #6e6e6e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  background-color: none;
  border: 1px solid #6e6e6e;
  color: #6e6e6e;
  padding: 0.25em;

  /* Center the text contents */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.circle .node-label {
  /* Set the height to 0 and overflow to visible to not interfere with the square styles */
  overflow: visible;
  height: 0;

  /* Vertically center text since we set its height to 0 */
  margin-top: -1em;
}

.fileNode {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #adadad;
  border-radius: 20px;
  background-color: #ffffff;
  transition: ease-in-out 0.2s;
}

.square-container {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  border: 1px dashed #ff6666;
  border-radius: 5px;
  background-color: none;
}

.node-label.corner {
  text-align: left;
  margin-left: 0px;
  color: #ff6666;
}

.cylinder {
  position: relative;
  margin: 0 auto;
  border-radius: 5%;
  background-color: rgba(209, 209, 209, 0.856);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cylinder .node-label {
  text-align: center;
}

.react-flow__node {
	border-width: 2px;
}

.react-flow__node.selected {
	box-shadow: none;
	border-color: lightcoral;
	border-width: 2px;
}

.highlightedNode{
  transition: ease-in-out 0.1s;
  color:white;
  font-weight: bold;
  background-color: #FF8B8B;
  border:#FF8B8B; 
  box-shadow: -5px 8px 10px #A36363;
}

.highlightedWrapper {
  transition: ease-in-out 0.1s;
  border: 3px dashed #ff6666;
}