.ToolBarButton:hover .Rect {
  stroke: #FF6161;
}

.ToolBarButton:hover .options {
  fill: #FF6161;
}

.ToolBarButton:hover .TextIcon {
  fill: #FF6161;
}

.ToolBarButton:hover path {
  fill: #FF6161;
}

.PopupButton:hover rect {
  stroke: #FF6161;
}

.PopupButton:hover .CircleShape {
  stroke: #FF6161;
}

.ToolBarButton:hover .DashedShape {
  stroke: #FF6161;
}

.ToolBarButton:hover .ShadowBoxShape,
.PopupButton:hover .ShadowBoxShape {
  stroke: #FF6161;
  fill: #FF6161;
}

.ShapesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
